body {
    background-image: url("Images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center-bottom;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 40px;
}



.logo {
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.search-bar {
    margin-bottom: 30px;
}

.top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-left: 300px;
    margin-bottom: 30px;
}

.search-bar input {
    width: 600px;
    padding: 15px;
    border-radius: 10px;
}

.search-bar button {
    width: 100px;
    margin-left: 10px;
    padding: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.tabs {
    display: flex;
    align-items: center;
    margin: 0 100px 0 auto;
    padding: 15px;
    gap: 20px;
    position: relative;
    top: -10px;
}

.tabs a {
    text-decoration: none;
    border: 1px solid black;
    padding: 15px;
    color: black;
    border-radius: 10px;
}

.wishlist-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cart-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 80px;
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
}

.popup ul {
    list-style: none;
    padding: 0;
}

.popup li {
    padding: 8px 0;
}

.popupbox {
    display: none;
    position: absolute;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-box {
    width: 18%;
}

.image-box img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}