<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bags - Family Fashion</title>

    <meta name="description"
        content="Discover stylish bags at Family Fashion. Shop backpacks, school bags, college bags, sling bags, crossbody bags, and handbags designed for comfort and everyday use.">
    <meta name="author" content="Seenupriya">

    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='Images/ti.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/access.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <header>

        <div class="top-bar"></div>
        <img src="{{ url_for('static', filename='Images/newlogo.jpeg') }}" alt="logo" class="logo">

        <div class="search-bar">
            <input type="text" id="search-box" placeholder="Search products...">
            <button onclick="searchProduct()">Search</button>
        </div>

        <div class="tabs">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('index') }}#contact-details">Contact</a>
            {% if session.get('user_name') %}
            <a href="#" onclick="openProfile()">
                {{ session['user_name'] }}
            </a>
            {% else %}
            <a href="#" onclick="openProfile()">
                Profile
            </a>
            {% endif %}

            <div id="profileBox" class="popup">

                {% if session.get('user_name') %}
                <p>Welcome, {{ session['user_name'] }}</p>

                <a href="{{ url_for('logout') }}">
                    <button>Logout</button>
                </a>
                {% else %}
                <button onclick="openLogin()">Login / Sign Up</button>
                {% endif %}

                <ul>
                    <li><a href="{{ url_for('orders') }}">Orders</a></li>
                    <li><a href="{{ url_for('wishlist') }}">Wishlist</a></li>
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                    <li><a href="{{ url_for('settings') }}">Settings</a></li>
                </ul>

                <button onclick="closeProfile()">Close</button>
            </div>

            <div id="loginBox" class="popupbox">
                <h3>Login</h3>

                <form action="{{ url_for('login') }}" method="POST">

                    <input type="email" name="email" placeholder="Email" required><br><br>

                    <input type="password" name="password" placeholder="Password" required><br><br>

                    <button type="submit">Login</button>

                </form>

                <p>Don't have an account? Sign Up</p>

                <button onclick="openSignup()">Sign Up</button>

                <button onclick="closeLogin()">Close</button>
            </div>

            <div id="signupBox" class="popupbox">
                <h3>Sign Up</h3>

                <form action="{{ url_for('signup') }}" method="POST">

                    <input type="text" name="fullname" placeholder="Full Name" required><br><br>

                    <input type="email" name="email" placeholder="Email" required><br><br>

                    <input type="password" name="password" placeholder="Password" required><br><br>

                    <input type="password" name="confirm_password" placeholder="Confirm Password" required><br><br>

                    <button type="submit">Create Account</button>

                </form>

                <button onclick="closeSignup()">Close</button>
            </div>

            <div class="icon">

                <a href="{{ url_for('wishlist') }}">
                    <i class="fa-solid fa-heart" style="color: rgb(115, 15, 15);"></i>
                    <span id="wishlist-count">0</span>
                </a>

                <a href="{{ url_for('cart') }}">
                    <i class="fa-solid fa-cart-arrow-down" style="color: rgb(115, 15, 15);"></i>
                    <span id="cart-count">0</span>
                </a>
            </div>

        </div>
        <h1 class="h2">Bags</h1>

    </header>

    <div class="image-container">

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/B1.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>FlyAway Navy Blue Lightweight School Bag</figcaption>
                <p class="price">₹499</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/B2.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>FlyAway Peach College Backpack</figcaption>
                <p class="price">₹399</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>


        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/B3.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>FlyAway Black College Backpack</figcaption>
                <p class="price">₹499</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/B4.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>FlyAway Pink Peach College Backpack</figcaption>
                <p class="price">₹399</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/B5.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>FlyAway Grey Lightweught School Bag</figcaption>
                <p class="price">₹499</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/h1.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>Mounto Peach Sling Bag</figcaption>
                <p class="price">₹699</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/h2.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>Mounto Brown Sling Bag</figcaption>
                <p class="price">₹599</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/h3.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>Mounto Peach Classic Sling Bag</figcaption>
                <p class="price">₹699</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/h4.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>Mounto Brown Crossbody Bag</figcaption>
                <p class="price">₹599</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/h5.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>Mounto Grey Classic Sling Bag</figcaption>
                <p class="price">₹799</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/bag1.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>Mounto Classic Red HandBag</figcaption>
                <p class="price">₹949</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/bag2.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>Mounto Classic Light Brown HandBag</figcaption>
                <p class="price">₹949</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/bag3.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>Mounto Classic Teal Blue HandBag</figcaption>
                <p class="price">₹849</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/bag4.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>Mounto Classic Black HandBag</figcaption>
                <p class="price">₹949</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Accessories/Bags/bag5.jpg') }}" alt="Kids">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>Mounto Classic Brown HandBag</figcaption>
                <p class="price">₹849</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</body>

</html>