<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Men's T-Shirts - Family Fashion</title>

    <meta name="description"
        content="Upgrade your wardrobe with premium men's T-shirts from Family Fashion. Shop 100% cotton round-neck T-shirts in trendy colors with comfort, quality, and affordable prices.">
    <meta name="author" content="Seenupriya">

    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='Images/ti.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newstyle.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

    <header>

        <div class="top-bar"></div>
        <img src="{{ url_for('static', filename='Images/newlogo.jpeg') }}" alt="logo" class="logo">

        <div class="search-bar">
            <input type="text" id="search-box" placeholder="Search products...">
            <button onclick="searchProduct()">Search</button>
        </div>

        <div class="tabs">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('index') }}#contact-details">Contact</a>
            {% if session.get('user_name') %}
            <a href="#" onclick="openProfile()">
                {{ session['user_name'] }}
            </a>
            {% else %}
            <a href="#" onclick="openProfile()">
                Profile
            </a>
            {% endif %}

            <div id="profileBox" class="popup">

                {% if session.get('user_name') %}
                <p>Welcome, {{ session['user_name'] }}</p>

                <a href="{{ url_for('logout') }}">
                    <button>Logout</button>
                </a>
                {% else %}
                <button onclick="openLogin()">Login / Sign Up</button>
                {% endif %}

                <ul>
                    <li><a href="{{ url_for('orders') }}">Orders</a></li>
                    <li><a href="{{ url_for('wishlist') }}">Wishlist</a></li>
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                    <li><a href="{{ url_for('settings') }}">Settings</a></li>
                </ul>

                <button onclick="closeProfile()">Close</button>
            </div>

            <div id="loginBox" class="popupbox">
                <h3>Login</h3>

                <form action="{{ url_for('login') }}" method="POST">

                    <input type="email" name="email" placeholder="Email" required><br><br>

                    <input type="password" name="password" placeholder="Password" required><br><br>

                    <button type="submit">Login</button>

                </form>

                <p>Don't have an account? Sign Up</p>

                <button onclick="openSignup()">Sign Up</button>

                <button onclick="closeLogin()">Close</button>
            </div>

            <div id="signupBox" class="popupbox">
                <h3>Sign Up</h3>

                <form action="{{ url_for('signup') }}" method="POST">

                    <input type="text" name="fullname" placeholder="Full Name" required><br><br>

                    <input type="email" name="email" placeholder="Email" required><br><br>

                    <input type="password" name="password" placeholder="Password" required><br><br>

                    <input type="password" name="confirm_password" placeholder="Confirm Password" required><br><br>

                    <button type="submit">Create Account</button>

                </form>

                <button onclick="closeSignup()">Close</button>
            </div>

            <div class="icon">

                <a href="{{ url_for('wishlist') }}">
                    <i class="fa-solid fa-heart" style="color: rgb(115, 15, 15);"></i>
                    <span id="wishlist-count">0</span>
                </a>

                <a href="{{ url_for('cart') }}">
                    <i class="fa-solid fa-cart-arrow-down" style="color: rgb(115, 15, 15);"></i>
                    <span id="cart-count">0</span>
                </a>
            </div>

        </div>
        <h1 class="h2">T-Shirts</h1>

    </header>

    <div class="image-container">

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Men/m t-shirts/mt1.jpeg') }}" alt="Olive Green T-shirt">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>TheDino 100% Cotton Olive Green T-shirt</figcaption>
                <p class="price">₹499</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Men/m t-shirts/mt2.jpeg') }}" alt="Grey T-shirt">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>TheDino 100% Cotton Grey T-shirt</figcaption>
                <p class="price">₹599</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Men/m t-shirts/mt3.jpeg') }}" alt="White T-shirt">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>TheDino 100% Cotton White T-shirt</figcaption>
                <p class="price">₹599</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Men/m t-shirts/mt4.jpeg') }}" alt="Black T-shirt">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>TheDino 100% Cotton Black T-shirt</figcaption>
                <p class="price">₹499</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Men/m t-shirts/mt5.jpeg') }}" alt="Navy Blue T-shirt">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>TheDino 100% Cotton Navy Blue T-shirt</figcaption>
                <p class="price">₹599</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Men/m t-shirts/mt6.jpeg') }}" alt="Red T-shirt">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>TheDino 100% Cotton Red T-shirt</figcaption>
                <p class="price">₹599</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Men/m t-shirts/mt7.jpeg') }}" alt="Yellow T-shirt">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>TheDino 100% Cotton Yellow T-shirt</figcaption>
                <p class="price">₹599</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Men/m t-shirts/mt8.jpeg') }}" alt="Beige T-shirt">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>TheDino 100% Cotton Beige T-shirt</figcaption>
                <p class="price">₹499</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Men/m t-shirts/mt9.jpeg') }}" alt="Mauve T-shirt">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>TheDino 100% Cotton Mauve T-shirt</figcaption>
                <p class="price">₹499</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

        <div class="image-box">
            <figure>
                <div class="image-wrapper">
                    <img src="{{ url_for('static', filename='Men/m t-shirts/mt10.jpeg') }}" alt="Blue T-shirt">
                    <i class="fa-regular fa-heart heart" onclick="addToWishlist(this)"></i>
                </div>
                <figcaption>TheDino 100% Cotton Blue T-shirt</figcaption>
                <p class="price">₹599</p>
                <div class="add-cart" onclick="addToCart(this)">
                    Add to Cart
                </div>
            </figure>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</body>

</html>