<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Men's Collection - Family Fashion</title>

    <meta name="description"
        content="Explore the latest men's fashion at Family Fashion. Shop stylish T-shirts, jeans, shirts, formal pants, and track pants with trendy designs, premium quality, and affordable prices for every occasion.">
    <meta name="author" content="Seenupriya">

    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='Images/ti.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body class="kiddo">
    <header>

        <div class="top-bar"></div>
        <img src="{{ url_for('static', filename='Images/newlogo.jpeg') }}" alt="logo" class="logo">

        <div class="search-bar">
            <input type="text" id="search-box" placeholder="Search products...">
            <button onclick="searchProduct()">Search</button>
        </div>

        <div class="tabs">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('index') }}#contact-details">Contact</a>
            {% if session.get('user_name') %}
            <a href="#" onclick="openProfile()">
                {{ session['user_name'] }}
            </a>
            {% else %}
            <a href="#" onclick="openProfile()">
                Profile
            </a>
            {% endif %}

            <div id="profileBox" class="popup">

                {% if session.get('user_name') %}
                <p>Welcome, {{ session['user_name'] }}</p>

                <a href="{{ url_for('logout') }}">
                    <button>Logout</button>
                </a>
                {% else %}
                <button onclick="openLogin()">Login / Sign Up</button>
                {% endif %}

                <ul>
                    <li><a href="{{ url_for('orders') }}">Orders</a></li>
                    <li><a href="{{ url_for('wishlist') }}">Wishlist</a></li>
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                    <li><a href="{{ url_for('settings') }}">Settings</a></li>
                </ul>

                <button onclick="closeProfile()">Close</button>
            </div>

            <div id="loginBox" class="popupbox">
                <h3>Login</h3>

                <form action="{{ url_for('login') }}" method="POST">

                    <input type="email" name="email" placeholder="Email" required><br><br>

                    <input type="password" name="password" placeholder="Password" required><br><br>

                    <button type="submit">Login</button>

                </form>

                <p>Don't have an account? Sign Up</p>

                <button onclick="openSignup()">Sign Up</button>

                <button onclick="closeLogin()">Close</button>
            </div>

            <div id="signupBox" class="popupbox">
                <h3>Sign Up</h3>

                <form action="{{ url_for('signup') }}" method="POST">

                    <input type="text" name="fullname" placeholder="Full Name" required><br><br>

                    <input type="email" name="email" placeholder="Email" required><br><br>

                    <input type="password" name="password" placeholder="Password" required><br><br>

                    <input type="password" name="confirm_password" placeholder="Confirm Password" required><br><br>

                    <button type="submit">Create Account</button>

                </form>

                <button onclick="closeSignup()">Close</button>
            </div>


            <div class="icon">

                <a href="{{ url_for('wishlist') }}">
                    <i class="fa-solid fa-heart" style="color: rgb(115, 15, 15);"></i>
                    <span id="wishlist-count">0</span>
                </a>

                <a href="{{ url_for('cart') }}">
                    <i class="fa-solid fa-cart-arrow-down" style="color: rgb(115, 15, 15);"></i>
                    <span id="cart-count">0</span>
                </a>
            </div>
        </div>

        <h1 class="h2">Men's Collection</h1>

    </header>

    <main>
        <div class="container">

            <a href="{{ url_for('m_tshirts') }}">
                <figure>
                    <img src="{{ url_for('static', filename='Men/m t-shirts/mt1.jpeg') }}" alt="t-shirts">
                    <figcaption>T-Shirts</figcaption>
                </figure>
            </a>

            <a href="{{ url_for('m_jeans') }}">
                <figure>
                    <img src="{{ url_for('static', filename='Men/m jeans/j1.jpeg') }}" alt="jeans">
                    <figcaption>Jeans</figcaption>
                </figure>
            </a>

            <a href="{{ url_for('shirts') }}">
                <figure>
                    <img src="{{ url_for('static', filename='Men/shirts/s1.jpeg') }}" alt="shirts">
                    <figcaption>Shirts</figcaption>
                </figure>
            </a>

            <a href="{{ url_for('pants') }}">
                <figure>
                    <img src="{{ url_for('static', filename='Men/pants/p1.jpeg') }}" alt="pants">
                    <figcaption>Formal Pants</figcaption>
                </figure>
            </a>

            <a href="{{ url_for('trackpants') }}">
                <figure>
                    <img src="{{ url_for('static', filename='Men/trackpants/tr1.jpeg') }}" alt="trackpants">
                    <figcaption>Track Pants</figcaption>
                </figure>
            </a>
        </div>

        <h2 class="line">Casual wear • Classic fits • All-day comfort</h2>
    </main>

    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
</body>

</html>